@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  background: #747474;
}

header{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.botones{
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.content{
  width: 100%;
  height: 300px;
  color: black;
  display: flex;
  align-items: center;
}

.caja1{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 70px;
  background: black;
}

.caja1:hover{
  background: #949696;
}

.caja2{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 70px;
  background: black;
}

.caja2:hover{
  background: #949696;
}

.pel{
  background:#F1F1F1;
  margin-bottom:40px ;
  padding: 20px;
  border-radius:10px; ;
}

spam{
  display: inline-block;
  margin: 5px;
  padding: 3px;
  border: 1px #CECECE solid;
  width: 60px;
  text-align: center;
  background: #F1F1F1;
}

@media (min-width: 990px){
  .hora{
   height: 300px;
  }
  img{
    width: 300px;
  }
}
